<div id="<%= dom_id trade %>">
  <div>
    <strong>Ticker:</strong>
    <%= trade.ticker %>
  </div>

  <div>
    <strong>Trade type:</strong>
    <%= trade.trade_type %>
  </div>

  <div>
    <strong>Entry price:</strong>
    <%= trade.entry_price %>
  </div>

  <div>
    <strong>Exit price:</strong>
    <%= trade.exit_price %>
  </div>

  <div>
    <strong>Shares:</strong>
    <%= trade.shares %>
  </div>

  <div>
    <strong>Traded on:</strong>
    <%= trade.traded_on %>
  </div>

  <div>
    <strong>Entry datetime:</strong>
    <%= trade.entry_datetime %>
  </div>

  <div>
    <strong>Exit datetime:</strong>
    <%= trade.exit_datetime %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= trade.notes %>
  </div>

  <div>
    <strong>Option type:</strong>
    <%= trade.option_type %>
  </div>

  <div>
    <strong>Strike price:</strong>
    <%= trade.strike_price %>
  </div>

  <div>
    <strong>Expiration date:</strong>
    <%= trade.expiration_date %>
  </div>

  <div>
    <strong>Contracts:</strong>
    <%= trade.contracts %>
  </div>

</div>
